@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme {
  --color-skill: #DDD0C8;
}

a {
  font-weight: 500;
  color: #BFA181;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

body {
  background: #0D1117;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2 {
  font-size: calc(1.325rem + .9vw);
}

h3 {
  font-size: 1.25rem;
}

.intro {
  color: #178582;
  margin-bottom: 1.5rem;
}

.text-section {
  color: #BFA181;
}

.text-company {
  color: #29e0d5;
}

.text-role {
  color: #DDD0C8;
}

.text-description {
  color: #178582;
}

img {
  max-width: 50%;
  max-height: 75%;
}

.anchors {
  list-style-type: none;
  color: #29e0d5;
  font-size: 18px;
}

.anchors li::before {
  content: "\2022";
  color: #BFA181;
  font-size: 14px;
  padding-right: 5px;
}

.sub-anchors {
  margin-left: 1.5rem;
}

.hash-link {
  color: #29e0d5;
}

.sub-hash-link {
  color: #DDD0C8;
}